
*{margin: 0; padding: 0;}

@font-face {
    font-family: Inter-Regular;
    src: url(fonte/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter-Bold;
    src: url(fonte/Inter-SemiBold.ttf);
}
/*container cabeçalho*/
.cabeçalho__container{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(rgb(241, 236, 236), rgba(139, 138, 138, 0.671));
    margin: auto;
}
.cabeçalho-1-1{
    display: flex;
    align-items: center;
    margin: -24px;
}
.cabeçalho-1-1 p{
    font-family: Inter-Regular;
    margin: 5px;
    padding: 5px 50px 5px 10px;
   
}

/*navegação*/
.navegação{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.navegação a{
    text-decoration: none;
    font-family: Inter-Bold;
    padding: 5px;
    color: black;
    

}
.div-1-1, .div-2-1,.div-3-1{
    display: flex;
    align-items: center;
    margin: 2em;
    
    box-shadow: 1px 4px rgb(248, 247, 247);
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}
.div-1-1:hover,.div-2-1:hover,.div-3-1:hover{
    box-shadow: 1px 4px rgb(15, 151, 22);
  
}
/*Sobdivisões div1*/
.div-1 ul{
   display: none;
    position: relative;
    list-style-type: none;
    
}
.div-1:hover .sub-menu-div-1 ul{
    display: block;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: linear-gradient(rgb(139, 136, 136), rgb(226, 222, 222));
    border-radius: 10px;
    
}
.sub-menu-div-1 a:hover{
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   
}
.div-1:hover ul li{
    padding: 10px;
    text-align: center;

}
/*Sobdivisões div2*/
.div-2 ul{
    display: none;
     position: relative;
     list-style-type: none;
     
 }
 .div-2:hover .sub-menu-div-2 ul{
     display: block;
     justify-content: center;
     flex-direction: column;
     position: absolute;
     background: linear-gradient(rgb(139, 136, 136), rgb(226, 222, 222));
     border-radius: 10px;
     
 }
 .sub-menu-div-2 a:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
 }
 .div-2:hover ul li{
     padding: 10px;
     text-align: center;
 
 }
 /*Sobdivisões div3*/
.div-3 ul{
    display: none;
     position: relative;
     list-style-type: none;
     
 }
 .div-3:hover .sub-menu-div-3 ul{
     display: block;
     justify-content: center;
     flex-direction: column;
     position: absolute;
     background: linear-gradient(rgb(139, 136, 136), rgb(226, 222, 222));
     border-radius: 10px;
     
 }
 .sub-menu-div-3 a:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
 }
 .div-3:hover ul li{
     padding: 10px;
     text-align: center;
 
 }
 @media (max-width: 1000px) {
  .cabeçalho__container nav{
    position: fixed;
    margin: 0;
}
.cabeçalho__container img{
    margin-left: 10px;
}
.cabeçalho__container p{
    font-size: 12px;
}
.div-1-1, .div-2-1,.div-3-1{
    display: block;
    margin: 2px;
    margin-top: 7em;
    box-shadow: 1px 4px rgb(126, 121, 121);
    border-radius: 10px;
    padding: 5x;
    
}
    .one, .two, .three{
        background: linear-gradient(rgb(15, 151, 22), rgb(185, 182, 182));
        border-radius: 5px;
        height: 5px;
        width: 100%;
        margin: 6px auto;
    }
    .menu-burguer{
        margin-top: 5%;
        margin-right: 20px;
        width: 40px;
        height: 30px;
    }
    
}